<% for(let i of post){%>
    <li>Content-:<%=i.content%></li>
    <li>User-:<%=i.user.name%></li>
    <%if(locals.user && locals.user.id==i.user.id){%>
    <small>
        <a href="/post/destroy/<%=i._id%>">Delete Post</a>
    </small>
    <%}%>
    <%if(locals.user){%>
    <div class="comment">
        <form action="/comments/create" method="post">
            Comment-:<input type="text" name="content">
            <input type="hidden" name="post" value="<%=i._id%>">
            <button type="submit">Add Comment</button>
        </form>
    </div>  
    <%}%>

    <div class="comment-display">
      
                <p>All Comments-:</p>
        <ul>
            <%for( com of i.comments){%>
                <ul>
                    <%-include('_comment')-%>
            </ul>
                <%}%>
        </ul>
    </div>
    <%}%>