<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1>Welcome to profile</h1>
    <h2>Your name is:<%=locals.user.name%></h2>
    <h2>Your email is:<%=locals.user.email%></h2>
    <br>
    <br>
    <p>Want to Update Your Profile?</p>
    <%if(locals.user.id==all_user.id){%>
        <section id="update-form">
            <form action="/users/update/<%=all_user._id%>" method="post">
                <input type="text" name="name" value="<%=all_user.name%>">
                <input type="text" name="email" value="<%=all_user.email%>">
                <button type="submit">Update</button>
            </form>
        </section>
        <%}%>
        <br>
        <br>
        <hr>
    <a href="/users/sign-out">Sign out</a>
    <a href="/">Home</a>
</body>
</html>